
.icon-edit:before { content: '\e800'; } /* '' */
.icon-doc:before { content: '\e801'; } /* '' */
.icon-tablet:before { content: '\e802'; } /* '' */
.icon-menu-outline:before { content: '\e803'; } /* '' */
.icon-play:before { content: '\e804'; } /* '' */
.icon-stop:before { content: '\e805'; } /* '' */
.icon-pause:before { content: '\e806'; } /* '' */
.icon-left-open:before { content: '\e807'; } /* '' */
.icon-right-open:before { content: '\e808'; } /* '' */
.icon-pencil:before { content: '\e809'; } /* '' */
.icon-attention:before { content: '\e80a'; } /* '' */
.icon-trash-empty:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-stopwatch:before { content: '\e80d'; } /* '' */
.icon-eye:before { content: '\e80e'; } /* '' */
.icon-attach:before { content: '\e80f'; } /* '' */
.icon-phone:before { content: '\e810'; } /* '' */
.icon-arrows-cw:before { content: '\e811'; } /* '' */
.icon-search:before { content: '\e812'; } /* '' */
.icon-print:before { content: '\e813'; } /* '' */
.icon-calendar:before { content: '\e814'; } /* '' */
.icon-logout:before { content: '\f02d'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-camera:before { content: '\f4f7'; } /* '' */
